/*
header {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
}
.grid-middle {
  grid-column-start: 2;
}
.grid-end {
  margin-left: auto;
}
#choose{
  max-width: 35%;
}
*/
/*
svg {

  width: 100%;
  height: 450px;
  border: 3px solid cyan;
}
*/
.goldborder{
  border: 3px solid gold;
}
.matchupimg {
  width: 3rem;
}

.matchup {
  border: 3px solid gold;
  margin: 5px auto;
  display: inline-flex;
  flex: 300px;
}
.team {
  display: inline-block;
  min-width: 3em;
  margin: 5px auto;
  padding: auto 5px;
  justify-content: center;
  text-align: center;
}
div[gold-background]{
  background: gold;
}
.matchup[winner=""] > div  {
  opacity: 80%;
}

.matchup[winner="left"]> div:first-child  {
  opacity: 100%;
}
.matchup[winner="left"] > div:last-child {
  /*& div > img {
    background: blue;
  }*/
  opacity: 50%;
}
.matchup[winner="right"] > div:first-child {
  opacity: 50%;
}
.matchup[winner="right"] > div:last-child {
  opacity: 100%;
}
#graph {
  min-height: 500px;
}
