// html {
//   font-size: 62.5%;
// }
// body {
//   font-size: 1.6rem;
// }



#graph {
  min-height: 200px;
  font-size: 2rem;
}

.goldborder {
  border: 1px solid gold;
}

.matchupimg {
  width: 3rem;
}

.matchup {
  border: 3px solid gold;
  margin: 5px auto;
  display: inline-flex;
  flex: 300px;
}
.team {
  display: inline-block;
  min-width: 3em;
  margin: 5px auto;
  padding: auto 5px;
  justify-content: center;
  text-align: center;
}
div[gold-background]{
  background: gold;
}
.matchup[winner=""] > div  {
  opacity: 80%;
}

.matchup[winner="left"]{
  > div:first-child  {
    opacity: 100%;
  }
  > div:last-child {
    opacity: 50%;
  } 
}

.matchup[winner="right"]{
    > div:first-child {
        opacity: 50%;
    } 
    > div:last-child {
        opacity: 100%;
    }
}

@import "nfl";
