
span {
    white-space: nowrap;
    .BAL {
        color: #241773;
    }
    .CIN {
        color: #FB4F14;
    }
    .CLE {
        color: #311D00;
    }
    .PIT {
        color: #FFB612;
    }
    .BUF {
        color: #00338D;
    }
    .MIA {
        color: #008E97;
    }
    .NE {
        color: #002244;
    }
    .NYJ {
        color: #125740;
    }
    .HOU {
        color: #03202F;
    }
    .IND {
        color: #002C5F;
    }
    .JAX {
        color: #101820;
    }
    .TEN {
        color: #0C2340;
    }
    .DEN {
        color: #FB4F14;
    }
    .KC {
        color: #E31837;
    }
    .LV {
        color: #000000;
    }
    .LAC {
        color: #0080C6;
    }
    .CHI {
        color: #0B162A;
    }
    .DET {
        color: #0076B6;
    }
    .GB {
        color: #203731;
    }
    .MIN {
        color: #4F2683;
    }
    .DAL {
        color: #003594;
    }
    .NYG {
        color: #0B2265;
    }
    .PHI {
        color: #004C54;
    }
    .WAS {
        color: #5A1414;
    }
    .ATL {
        color: #A71930;
    }
    .CAR {
        color: #0085CA;
    }
    .NO {
        color: #D3BC8D;
    }
    .TB {
        color: #D50A0A;
    }
    .ARI {
        color: #97233F;
    }
    .LAR {
        color: #FFA300;
    }
    .SF {
        color: #AA0000;
    }
    .SEA {
        color: #002244;
    }
}