{{ define "matchups" }}
<section id="matchups" class="flex-row matchups">
  <div class="flex-row">
    {{ template "matchupControls" .Controls }}
  </div>
  <div class="flex-row">
    {{ range .Matchups }}
    <div class="flex-small">
      {{ template "matchup" . }}
    </div>
    {{ end }}
  </div>

  <div>
    <button hx-get="/api/testMatchup" hx-trigger="click"
            hx-target="#matchups" hx-swap="outerHTML">
      Refresh
    </button>
  </div>
</section>
<style>
.matchups {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
</style>
{{end}}

{{ define "matchupControls" }}
{{ $p := . }}
{{ $week := .Week }}
<label for="week">Week: </label>
<select name="week" id="week" hx-get="/api/test" hx-target="#matchups">
{{ range $i, $a := .ValidWeeks }}
  {{ if ne $a $p.Week }}
  <option value="{{ $a }}">{{ $a }}</option>
  {{ else }}
  <option value="{{ $a }}" selected>{{ $a }}</option>
  {{ end }}
{{ end}}
</select>
{{end}}

{{ define "matchup" }}
<div class="matchup" winner="">
    <div class="team" onclick="teamClick(this)" pos='left'>
      {{ template "team" .Team1 }}
    </div>
    <div class="team" 
        onclick="teamClick(this)" 
        pos='right'>
      {{ template "team" .Team2 }}
    </div>
</div>
<style>
</style>
{{end}}

{{ define "team" }}
<img class="matchupimg" src="/static/images/teams/{{.Name}}.png"/>
{{.Name}}
{{end}}

{{ define "matchup-opts" }}
<div>
</div>
{{end}}
